:root {
    --accent: #f00;
    --bg: #fff;
    --bg1: #ccc;
    --text: #000;
    --border: #000;
    --table0: #F1D3D3;
    --table1: #F2C8C8;
    --table2: #E26B6B;
    --table3: #CA4F4F;
    --table4: #973B3B;
    --link1: #f00;
    --link2: #f50;
}

:root.dark {
    --accent: #f00;
    --bg: #1d1515;
    --bg1: #333;
    --text: #fff;
    --border: #fff; 
    --table0: #291515;
    --table1: #3b2323;
    --table2: #5a2a2a;
    --table3: #752f2f;
    --table4: #9b3b3b;
    --link1: #f00;
    --link2: #f50;
}
